*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --txt-color: #212121;
    --second-color: #09A494;
    --yellow: #E5BB33;
    --blue: #205B75;
    --bg-color: #FFFFFF;
}

body {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--txt-color);
    background-color: var(--bg-color);

}

h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 110.01%;
    letter-spacing: 0;
    margin: 0;
    margin-bottom: 20px;
}

.subtitle {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
}

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0;
}

img {
    display: inline-block;
}

.main-header {
    display: flex;
    /*flex-direction: row;*/
    padding-top: 60px;
    gap: 40px;
    align-items: center;
}

.main-nav {
    display: flex;
    flex-direction: row;
}

.main-nav a {
    display: flex;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    color: var(--txt-color);
}

.main-nav a:hover {
    color: var(--second-color);
}

button {
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    padding: 6px 10px 10px;
    color: var(--second-color);
    background-color: var(--bg-color);
    text-transform: lowercase;
    outline-color: var(--bg-color);
    border: 1px solid var(--second-color);
    border-radius: 10px;
}

button:hover {
    color: var(--bg-color);
    outline-color: var(--second-color);
    background-color: var(--second-color);
}

.contacts {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul {
    padding: 0;
}

.contacts li {
    display: inline-block;
    margin: 0;
    margin-right: 35px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.social li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 35px;
    background-repeat: repeat;
    background-position: 50% 50%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.myphoto {
    border-radius: 50%;
}

.contact-link {
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: left;

}

.contact-link_number_phone {
    background-image: url('../img/ContactsIcon.svg');
}

.contact-link_my_email {
    background-image: url('../img/ContactsIconnn.svg');
}

.social-link {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: var(--txt-color);
    width: 50px;
    height: 50px;
    gap: 10px;
    border-radius: 50px;
    border-width: 1px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid var(--second-color);
}

.social-link:hover {
    background-color: var(--second-color);
}

.social-link_gitlab {
    background-image: url('../img/social=gitlab.svg');
}

.social-link_github {
    background-image: url('../img/social=github.svg');
}

.social-link_telegram {
    background-image: url('../img/social=telegram.svg');
}

.social-link_vk {
    background-image: url('../img/social=vk.svg');
}

.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.skill-list dt {
    margin-bottom: 6px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
}

.skill-level {
    margin: 4px 0 20px;
    padding: 2px;
    font-size: 0;
    border: 1px solid var(--blue);
    border-radius: 16px;

}

.skill-level div {
    height: 14px;
    background-color: var(--second-color);
    border-radius: 8px;
}

.section-intro {
    display: flex;
    align-items: center;
    gap: 70px;
}



.section-intro p {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 38px;
    line-height: 120%;
    letter-spacing: 0%;
    margin: 0;
}

.name_profes {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
}

.skill-item {
    text-transform: lowercase;
}

.skill-item_html {
    background-image: url("../img/html.svg");
}

.skill-item_css {
    background-image: url("../img/css.svg");
}

.skill-item_cpp {
    background-image: url("../img/c++.svg");
}

.skill-item_python {
    background-image: url("../img/python.svg");
}

footer {
    color: var(--bg-color);
    background-color: var(--txt-color);
}
