*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --txt-color: #212121;
    --second-color: #09A494;
    --yellow: #E5BB33;
    --blue: #205B75;
    --bg-color: #FFFFFF;
}

body {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px / 20px;
    color: var(--txt-color);
    background-color: var(--bg-color);

}

myphoto {
    background-image: url('../img/photo_5291757754781920323_y.jpg');
    border-radius: 50%;
}

h1 {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 60px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
}

.subtitle {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0%;
}

h3 {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
}

a {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    /*margin: 15px;-->*/
    color: var(--txt-color);
}

a:hover {
    color: var(--second-color);
}

div {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

button {
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    padding: 6px 10px 10px;
    color: var(--second-color);
    background-color: var(--bg-color);
    /*cursor: pointer;*/
    text-transform: lowercase;
    outline-color: var(--bg-color);
    border: 5px;
    border-radius: 20px;
}

button:hover {
    color: var(--bg-color);
    outline-color: var(--second-color);
    background-color: var(--second-color);
}

.social {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

.social li {
    display: block;
    margin: 0;
    padding: 0;
}

.social-link {
    display: block;
    width: 30;
    height: 30;
    top: 20px;
    border-radius: 50%;
}

/*.social-link:hover {
    background-color: var(--yellow);
}*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.span {
    width: 50;
    height: 50;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    border-width: 1px;
    gap: 10px;
    padding: 10px;

}

.span:hover {
    color: var(--bg-color);
    outline-color: var(--second-color);
    background-color: var(--second-color);

}

.contact {
    background-image: url('../img/ContactsIcon.svg');
    all: initial;
    width: 203;
    height: 30;
    top: 20px;
    left: 20px;
    gap: 12px;


}

.contact-link {
    background-image: url('../img/ContactsIconnn.svg');
    all: initial;
    width: 177;
    height: 30;
    top: 20px;
    left: 20px;
    gap: 12px;
}

.social-link_gitlab {
    background-image: url('../img/social=gitlab.svg');
}

.social-link_github {
    background-image: url('../img/social=github.svg');
}

.social-link_telegram {
    background-image: url('../img/social=telegram.svg');
}

.social-link_vk {
    background-image: url('../img/social=vk.svg');
}

footer {
    color: var(--bg-color);
    background-color: var(--blue);
}
